@charset "utf-8";
body, html { height: 100%; margin: 0; }
#map { height: 100%; }
#locationButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;

    font-size: 3vw;

    color: #fff;
    border-color: gray;
    border-radius: 50vw;
    border-width: 2px;
    background-color: skyblue;
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
    -webkit-box-shadow: 0 5px 0 rgb(59, 120, 144);
    box-shadow: 0 5px 0 rgb(59, 120, 144);
}
.btn{
    color: #000000;
    border-color: gray;
    border-radius: 50vh;
    border-width: 1.5px;
    background-color: #e0e0e0;
    padding: 10px;
}
.btn:hover {
    color: #fff;
    background: #404040;
}
#locationButton:hover {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 rgb(59, 120, 144);
    box-shadow: 0 2px 0 rgb(59, 120, 144);
}